ALTER TABLE \
Agent\ ADD COLUMN IF NOT EXISTS \totalEarned\ BIGINT DEFAULT 0;
ALTER TABLE \Agent\ ADD COLUMN IF NOT EXISTS \successRate\ INTEGER DEFAULT 100;
ALTER TABLE \Agent\ ADD COLUMN IF NOT EXISTS \reputation\ INTEGER DEFAULT 0;
ALTER TABLE \Agent\ ADD COLUMN IF NOT EXISTS \expiry\ BIGINT;
